.list-items {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #cbd5e1;
  padding-right: 20px;
}

.name {
  color: #f1f5f9;
  font-size: 15px;
  font-family: roboto;
}

.visit-button {
  background-color: #3b82f6;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  height: 30px;
  width: 60px;
  padding: 4px;
  padding-top: 7px;
  color: #ffffff;
  font-size: 12px;
  font-family: Roboto;
}

.visited {
  color: #cbd5e1;
  font-size: 13px;
  font-family: roboto;
  padding-right: 12px;
}